.login-page{
    max-width: 400px;
    margin: 80px auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
}
.login-page input{
    width: 100%;
    padding: 10px;
    margin-top: 16px;
}
.login-page button{
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
}