.footer {
  background-color: #111;
  color: #fff;
  padding: 40px 20px 20px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

.footer-section h4 {
  margin-bottom: 12px;
  font-size: 16px;
}

.footer-logo {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
}
.footer-logo span{
    color: #ff4d4f;
}

.footer-section p,
.footer-section li {
  font-size: 14px;
  color: #ccc;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 8px;
}

.footer-section a {
  color: #ccc;
  text-decoration: none;
}

.footer-section a:hover {
  color: #fff;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
  color: #aaa;
  border-top: 1px solid #333;
  padding-top: 15px;
}
